<label class="group-label">{{item.name}}</label>
<label class="text-label">Description</label>
<div class="text-field">
    {{item.description }}
</div>
<div class="text-group-controls">
    <button class="btn" {{action "viewCatalog"}}>View this catalog</button>
</div>
